// Menu Button
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 40px;
  top: 50px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  @include easeOut;

  &.close {
    transform: rotate(360deg);
  }
}

// Menu Overlay
.menu {
  position: fixed;
  width: 100%;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    height: 100vh;
    overflow: hidden;
  }

  &-branding {
    width: 30%;
    background: rgba(#1DE1DE, 0.9);
    transform: translate3d(0, 100%, 0);
    line-height: 2;
    @include easeOut;

    .name {
      font-size: 2rem;
    }

    &.show {
      //Slide in from bottom
      transform: translate3d(0, 0, 0);

      .portrait {
        width: 150px;
        height: 150px;
        background: url(../img/portrait.jpg);
        background-size: cover;
        border-radius: 50%;
        border: solid 3px yellow;
      }
    }


  }

  &-nav {
    width: 70%;
    background: rgba(#A5A5A5, 0.95);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show {
      //Slide in from top
      transform: translate3d(0, 0, 0);

      .nav-link {
        text-decoration: none;
        line-height: 5;
        font-size: 3rem;
      }
    }
  }
}
