// Go To Main button
.menu-btn {
  position: absolute;
  font-size: 1rem;
  z-index: 3;
  right: 40px;
  top: 50px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  @include easeOut;

  &:hover {
    color: $color1;
  }
}

// Navbar
#navigation {
  background-color: $color1;
  padding: 20px 10px;
  z-index: 100;
  width: 100%;

  li {
    padding: 0 10px;

    a {
      color: #fff;
    }
  }
}

.navbar-brand,
.navbar-brand:hover {
  color: #fff;
}
