@import "config";
@import "navigation";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;

  #homepage {
    @include background;

    #typed{
      color: $color2;
      justify-content: center;
      font-weight: 300;
      text-align: center;
      position: absolute;
      overflow: hidden;
      top: 45%;
      left: 0;
      right: 0;
      width: 24em;
      border-right: 0.15em solid orange;
      white-space: nowrap;
      margin: 0 auto;
      letter-spacing: 0.15em;
    }
  }

  .navbar-toggler-icon {
    background-image: url(../img/menu.png);
  }

  #main-section {
    top: 100vh;
    position: relative;

    section {
      padding: 100px 0;

      .section-headline {
        text-align: center;
      }
    }

    .skills-group {
      text-align: center;
      justify-content: center;
    }

    .flask-img {
      width: 140px;
      height: 100px;
    }

    .skills-group {
      margin-bottom: 3rem;
    }

    .icon {
      font-size: 6rem;
      .icon-label {
        font-size: 1.5rem;
        margin-top: 5px;
        position: relative;
      }
    }

    #about {
      .portrait {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        float: left;
        margin-right: 20px;
      }
    }

    #skills {
      background-color: $color2;
    }
  }
}
