@import "config";
@import "menu";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  #homepage {
    @include background;
    @include easeOut;
    transform: translate3d(0, 0, 0);

    &.hide {
      transform: rotate(360deg);
    }

    h1.message {
      @include typewriter;
    }
  }

  #main-section {
  }
}
